$light: #FFF;
$dark: #000;

$sidebar-bg: #3A424D;
$sidebar-header-bg: #3891C9;

$font-family-1: "Work Sans","Helvetica","Tahoma","Geneva","Arial",sans-serif;

$code-color-bg: #efefef;
$link-color-hover: #0056b3;

$footer-color-bg: #353C46;
$dropdown-color-bg: #2f343b;

@import "body.scss";

@import "breadcrumbs.scss";

@import "sidebar.scss";

@import "navigator.scss";