body {
  font-family: "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 18px !important; }

#body {
  font-family: "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  text-rendering: optimizeLegibility;
  position: relative;
  margin-left: 300px;
  min-height: 100%; }
  #body h1, #body h2, #body h3, #body h4, #body h5, #body h6 {
    margin: .85rem 0 1.7rem 0; }
  #body pre {
    padding: 1rem;
    margin: 2rem 0;
    background: #efefef;
    border: 0;
    border-radius: 2px;
    line-height: 1.15; }
  #body h3 {
    color: #212529;
    font-weight: 500;
    letter-spacing: -1px;
    font-size: 2rem; }
  #body p {
    margin: 1.7rem 0; }
  #body b, #body strong, #body label, #body th {
    font-weight: 600; }
  #body code {
    border-radius: 3px;
    color: #212529;
    background: #efefef;
    padding: 0 5px; }
  #body #top-bar {
    background: #F6F6F6;
    border-radius: 2px;
    margin: 0rem -1rem 2rem;
    padding: 0 1rem;
    height: 0;
    min-height: 3rem; }
  #body .padding {
    padding: 3rem 6rem; }
  #body .nav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 4rem;
    font-size: 50px;
    height: 100%;
    cursor: pointer;
    display: table;
    text-align: center;
    color: rgba(0, 86, 179, 0.09); }
    #body .nav > i {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
    #body .nav.nav-prev {
      left: 300px;
      margin-left: 0px; }
    #body .nav.nav-next {
      right: 0;
      margin-right: 0px; }
    #body .nav:hover {
      color: #0056b3;
      text-decoration: none; }
  #body #chapter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 2rem 0; }
    #body #chapter #body-inner {
      padding-bottom: 3rem;
      max-width: 80%; }
    #body #chapter h1 {
      text-align: center;
      text-transform: uppercase;
      color: #222;
      font-weight: 200;
      border-bottom: 4px solid #F0F2F4;
      margin: .85rem 0 1.7rem 0;
      text-rendering: optimizeLegibility; }
    #body #chapter h3 {
      text-align: center;
      margin: .85rem 0 1.7rem 0;
      color: #868686;
      text-rendering: optimizeLegibility; }
    #body #chapter p {
      text-align: center;
      font-size: 1.2rem; }

#loading-body {
  display: none;
  position: fixed;
  color: rgba(0, 0, 0, 0.8);
  top: 25%;
  right: 41%;
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 70px;
  padding: 20px; }

#error-body {
  display: none;
  position: fixed;
  top: 25%;
  right: 40%;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-weight: bold;
  font-size: 38px; }
  #error-body p {
    margin-top: 0rem; }

#breadcrumbs {
  height: auto;
  display: block;
  margin-bottom: 0;
  padding-left: 0;
  line-height: 1.4;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  #breadcrumbs span {
    display: inline-block;
    padding: 0 1rem; }
  #breadcrumbs a {
    color: #212529; }
    #breadcrumbs a:hover {
      color: #0056b3;
      text-decoration: underline !important; }

#top-bar {
  background: #F6F6F6;
  border-radius: 10px !important;
  margin: 0rem -1rem 2rem;
  padding: 0 1rem;
  height: 0;
  min-height: 3rem; }
  #top-bar #top-bar-buttons {
    position: relative;
    z-index: 1;
    float: right;
    display: none;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

#sidebar-toggle {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px 14px;
  color: rgba(0, 86, 179, 0.5);
  z-index: 9;
  font-size: 50px; }
  #sidebar-toggle:hover {
    color: #0056b3; }

#sidebar {
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #3A424D;
  z-index: 10;
  transition: all 0.3s ease; }
  #sidebar #loading-sidebar, #sidebar #error-sidebar {
    position: fixed;
    left: 115px;
    top: 300px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-weight: bold; }
  #sidebar #error-sidebar {
    display: none; }
  #sidebar .simplebar-scroll-content {
    margin-bottom: 0px !important; }
  #sidebar #scroll {
    height: 100%;
    padding: 15px 0px; }
  #sidebar ul#list {
    padding: 0px; }
  #sidebar ul li span {
    font-weight: 900;
    color: rgba(255, 255, 255, 0.3);
    font-size: 15px;
    display: none; }
  #sidebar ul li a {
    display: block;
    padding: .75rem 1.5rem;
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none; }
    #sidebar ul li a:hover, #sidebar ul li a .sidebar ul .active a {
      color: white;
      background: rgba(0, 0, 0, 0.25); }
  #sidebar ul ul a {
    padding-left: 2.5rem;
    background: rgba(0, 0, 0, 0.15); }
  #sidebar ul high {
    background: orange;
    color: black;
    border-radius: 3px; }
  #sidebar ul .active {
    color: #FFF;
    position: relative; }
    #sidebar ul .active:after {
      content: '';
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 10px 10px 10px 0;
      border-color: transparent #FFF transparent transparent;
      position: absolute;
      vertical-align: middle;
      right: 0px;
      top: 17px;
      z-index: 11; }
  #sidebar [data-toggle="collapse"] {
    position: relative; }
  #sidebar [aria-expanded="true"] {
    background: rgba(0, 0, 0, 0.15); }
    #sidebar [aria-expanded="true"]:before {
      outline: none; }
  #sidebar.toggled {
    margin-left: -250px; }
  #sidebar #header {
    background: #3891C9;
    color: #FFF;
    text-align: center;
    padding: 1rem;
    border-bottom: 4px solid rgba(0, 0, 0, 0.2); }
    #sidebar #header a {
      color: rgba(255, 255, 255, 0.8);
      font-size: 41px;
      font-weight: bold;
      line-height: 1em; }
  #sidebar .searchbox {
    margin-top: .5rem;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 15px; }
    #sidebar .searchbox input {
      display: inline-block;
      color: #FFF;
      width: 100%;
      height: 30px;
      background: transparent;
      border: 0;
      padding: 0 25px 0 30px;
      margin: 0;
      font-weight: 300; }
      #sidebar .searchbox input::placeholder {
        color: rgba(255, 255, 255, 0.6);
        opacity: 1; }
    #sidebar .searchbox label {
      color: rgba(255, 255, 255, 0.8);
      position: absolute;
      left: 9px;
      top: 3px; }
    #sidebar .searchbox .sb-close {
      color: rgba(255, 255, 255, 0.6);
      position: absolute;
      right: 0px;
      top: 0px;
      cursor: pointer;
      padding: 3px 9px;
      display: none; }
  #sidebar #footer {
    color: #b3b3b3;
    font-size: 13px;
    background-color: #353C46;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 2px; }
    #sidebar #footer p {
      margin: 0; }
      #sidebar #footer p a {
        color: #FFF;
        font-weight: bold; }
        #sidebar #footer p a:hover {
          color: #D2D2D2; }

.content {
  width: 100%; }

@media (max-width: 800px) {
  #sidebar {
    margin-left: -300px; }
    #sidebar.toggled {
      margin-left: 0; }
  #body {
    margin-left: 0px; }
  #loading-sidebar, #error-sidebar {
    display: none; }
  #navigation .nav-prev {
    left: 0px !important; } }

@media (max-width: 800px) and (min-width: 550px) {
  #navigation #sidebar-toggle {
    display: inline;
    height: 12%;
    width: 80px;
    padding: 7px 13px;
    color: rgba(56, 145, 201, 0.7); }
    #navigation #sidebar-toggle:hover {
      color: #0056b3; } }

@media (max-width: 550px) {
  #navigation {
    position: fixed;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #FFF;
    width: 104vw;
    height: 50px;
    z-index: 9;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; }
    #navigation .nav {
      background-color: rgba(255, 255, 255, 0.2);
      position: relative;
      width: 33%;
      color: rgba(0, 86, 179, 0.5); }
      #navigation .nav.nav-prev {
        border-right: 1px solid rgba(0, 0, 0, 0.1); }
      #navigation .nav.nav-next {
        border-left: 1px solid rgba(0, 0, 0, 0.1); }
  #body .padding {
    padding: 3.3rem 1rem; }
  #body #top-bar {
    text-align: center;
    border-radius: 0px !important; }
    #body #top-bar #top-bar-buttons {
      display: none; } }
