$light: #FFF;
$dark: #000;

$sidebar-bg: #3A424D;
$sidebar-header-bg: #3891C9;

$font-family-1: "Work Sans","Helvetica","Tahoma","Geneva","Arial",sans-serif;

$code-color-bg: #efefef;
$link-color-hover: #0056b3;

$footer-color-bg: #353C46;
$dropdown-color-bg: #2f343b;



body {
	font-family: $font-family-1;
	font-weight: 300;
	line-height: 1.6;
	font-size: 18px !important;
}

////// BODY //////
#body{
	font-family: $font-family-1;
	text-rendering: optimizeLegibility;

	position: relative;
	margin-left: 300px;
	min-height: 100%;

	h1, h2, h3, h4, h5, h6 {
		margin: .85rem 0 1.7rem 0;
	}

	pre {
		padding: 1rem;
		margin: 2rem 0;
		background: $code-color-bg;
		border: 0;
		border-radius: 2px;
		line-height: 1.15;
	}

	h3 {
		// color: #5e5e5e;
		color: #212529;
		font-weight: 500;
		letter-spacing: -1px;
		font-size: 2rem;
	}

	p {
		margin: 1.7rem 0;
	}

	b, strong, label, th {
		font-weight: 600;
	}

	code {
		border-radius: 3px;
		//color: #5e5e5e;
		color: #212529;
		background: $code-color-bg;
		//border: 1px solid #fbf0cb;
		padding: 0 5px;
	}

	#top-bar {
		background: #F6F6F6;
		border-radius: 2px;
		margin: 0rem -1rem 2rem;
		padding: 0 1rem;
		height: 0;
		min-height: 3rem;
	}

	.padding {
		padding: 3rem 6rem;
	}

	.nav {
		position: fixed;
		top: 0;
		bottom: 0;
		width: 4rem;
		font-size: 50px;
		height: 100%;
		cursor: pointer;
		display: table;
		text-align: center;
		color: rgba($link-color-hover, .09);
		
		> i {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}
		
		&.nav-prev {
			left: 300px;
			margin-left: 0px;
		}
		&.nav-next {
			right: 0;
			margin-right: 0px;
		}

		&:hover{
			color: $link-color-hover;
			text-decoration: none;
		}

	}
	
	//// Chapter ////
	#chapter{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		padding: 2rem 0;

		#body-inner {
			padding-bottom: 3rem;
			max-width: 80%;
		}


		h1 {
			text-align: center;
			text-transform: uppercase;
			color: #222;
			font-weight: 200;
			border-bottom: 4px solid #F0F2F4;

			margin: .85rem 0 1.7rem 0;
			text-rendering: optimizeLegibility;
		}

		h3 {
			text-align: center;
			margin: .85rem 0 1.7rem 0;
			color: #868686;

			text-rendering: optimizeLegibility;
		}
		
		p {
			text-align: center;
			font-size: 1.2rem;
		}
	}

}

#loading-body{
	display: none;
	position: fixed;
	color: rgba($dark, 0.8);
	top: 25%;
	right: 41%;
	background: $light;
	border: 1px solid rgba($dark, 0.05);
	border-radius: 70px;
	padding: 20px;
}

#error-body{
	display: none;
	position: fixed;
	top: 25%;
	right: 40%;
	color: rgba($dark, 0.8);
	text-align: center;
	font-weight: bold;
	font-size: 38px;

	p{
		margin-top: 0rem;
	}
}



//// BREADCRUMBS ////
#breadcrumbs {
	height: auto;
	display: block;
	margin-bottom: 0;
	padding-left: 0;
	line-height: 1.4;

	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

	span {
		display: inline-block;
		padding: 0 1rem;
	}

	a {
		color: #212529;

		&:hover{
			color: #0056b3;
		    text-decoration: underline !important;
		}
	}
}

#top-bar {
	background: #F6F6F6;
	border-radius: 10px !important;
	margin: 0rem -1rem 2rem;
	padding: 0 1rem;
	height: 0;
	min-height: 3rem;

	#top-bar-buttons {
		position: relative;
		z-index: 1;
		float: right;
		display: none;
		//display: block;
		
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

#sidebar-toggle {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	//width: 63px;
	//height: 63px;
	padding: 0px 14px;
	color: rgba($link-color-hover, .5);
	z-index: 9;
	font-size: 50px;


	&:hover{
		color: $link-color-hover;
	}
}



////// SIDEBAR //////
#sidebar {
	position: fixed;
	width: 300px;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: $sidebar-bg; 
	z-index: 10;
	transition: all 0.3s ease;
	
	//height: 100%;
	//overflow-x: hidden !important;
	
	//	font-weight: 400;
	//	font-size: 15px;
	// min-width: 300px;
	// max-width: 300px;
	// min-height: 100vh;

	.menus{
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		text-align: center;
		border-bottom: 1px solid rgba($dark, 0.1);
		background: rgba($dark, 0.05);

	}

	.dropdown{
		text-align: center;
		//margin-top: 1rem; 
		button{
			margin: 0px 10px;
			background: rgba($light, 0);
			color: rgba($light, 0.8);
			border-radius: 0px;

			&:active{
				background: ($dropdown-color-bg, 0.5);		
				box-shadow: none;		
			}

			&:focus{
				background-color: $dropdown-color-bg;			
				box-shadow: none;		
			}
		}

		.dropdown-menu{
			margin: 0;
			border-radius: 0 0 0.3rem 0.3rem;
			box-shadow: 1px 1px 2px $dark;
			min-width: 0px;

			li a{
				color: $dark;
				padding: .5rem 2rem;
				white-space: nowrap;
				i{
					padding-left: 8px;
					margin-right: -8px;
				}

			}
			&.show {
				background-color: $dropdown-color-bg;
				a{
					color: $light;
				}
			}

		}

		#menu-version{
			//	background-color: red;
		}
		#menu-lang{
			//	background-color: green;

		}

	}


	#loading-sidebar, #error-sidebar{
		position: fixed;
		left: 115px;
		top: 300px;
		color: rgba($light, 0.8);
		text-align: center;
		font-weight: bold;
	}

	#error-sidebar{
		display: none;
	}

	#scroll{
		position: relative;
		height: 90%;
		padding: 0px;
	}

	ul {
		&#list{
			padding: 5px 0px 120px 0px;
		}
		
		li span{
			font-weight: 900;
			color: rgba($light, .3);
			font-size: 15px;
			display:none;
		}

		li a {
			display: block;
			padding: .75rem 1.5rem;
			color: rgba($light, .75);

			text-decoration: none;
			
			&:hover, .sidebar ul .active a {
				color: rgba($light, 1);
				background: rgba($dark, .25);
			}

		}
		
		ul a {
			padding-left: 2.5rem;
			background: rgba($dark, .15);

		}

		high{
			background: orange;
			color: black;
			border-radius: 3px;
		}


		.active {
			color: #FFF;
			position:relative;

			&:after {
				content: '';
				width: 0px;
				height: 0px;
				border-style: solid;
				border-width: 10px 10px 10px 0;
				border-color: transparent #FFF transparent transparent;  
				position: absolute;
				vertical-align: middle;
				right: 0px;
				top: 17px;
				z-index: 11;
			}

		}
	}


	[data-toggle="collapse"] {
		position: relative;
		
		// &:before {
			//     content: "\f0d7";
			//     font-family: 'FontAwesome';
			//     font-weight: 900;
			//     position: absolute;
			//     right: 1rem;
			// }
		}

	[aria-expanded="true"] {
		background: rgba($dark, .15);
		
		&:before {
			//     content: "\f0d8";
			outline: none;
		}
	}
	
	&.toggled {
		margin-left: -250px;
	}
	
	#header {
		background: $sidebar-header-bg;
		color: $light;
		text-align: center;
		padding: 1rem;
		border-bottom: 4px solid rgba($dark, .2);

		a {
			color: rgba($light, 0.8);
			font-size: 41px;
			font-weight: bold;
			line-height: 1em;
		}
	}

	//// Searchbox ////
	.searchbox {
		margin-top: .5rem;
		position: relative;
		border: 1px solid rgba($dark, .05);
		background: rgba($dark, .15);
		border-radius: 4px;
		font-size: 15px;

		input {
			display: inline-block;
			color: $light;
			width: 100%;
			height: 30px;
			background: transparent;
			border: 0;
			padding: 0 25px 0 30px;
			margin: 0;
			font-weight: 300;

			&::placeholder{ 
			    color: rgba($light,.6);
			    opacity: 1; 
			}
		}

		label {
			color: rgba($light,.8);
			position: absolute;
			left: 9px;
			top: 3px;
		}
		
		.sb-close {
			color: rgba($light,.6);
			position: absolute;
			right: 0px;
			top: 0px;
			cursor: pointer;
			padding: 3px 9px;
			display: none;
		}
	}

	#footer {
		color: #b3b3b3;
		font-size: 13px;
		background-color: $footer-color-bg;
		position: absolute;
		bottom: 0;
		text-align: center;
		width: 100%;
		padding: 2px;

		p {
			margin: 0;
			a{
				color: $light;
				font-weight: bold;

				&:hover{
					color: #D2D2D2;
				}
			}

		}


	}


}

.content {
	width: 100%;
}


@media (max-width: 800px) {
	#sidebar {
		margin-left: -300px;
		
		&.toggled {
			margin-left: 0;
		}
	}

	#body{
		margin-left: 0px;
	}



	#loading-sidebar, #error-sidebar{
		display:none;
	}

	#navigation{
		.nav-prev {
			left: 0px !important;
		}
	}


}

@media (max-width: 800px) and (min-width:550px) {

	#navigation{
		#sidebar-toggle {
			display: inline;
			height: 12%;
			width: 80px;
			padding: 7px 13px;
			color: rgba($sidebar-header-bg, 0.7);
			&:hover{
				color: $link-color-hover;
			}
		}
	}
}

@media (max-width: 550px) {
	#navigation{
		position: fixed;
		border-bottom: 1px solid rgba($dark, .1);
		background-color: $light;
		width: 104vw;
		height: 50px;
		z-index: 9;
		text-align: center;
		overflow: hidden;
		white-space: nowrap;
		
		.nav {
			//white-space: nowrap;
			background-color: rgba($light, .2);
			position: relative;
			width: 33%;

			color: rgba($link-color-hover, .5);
			&.nav-prev {
				border-right: 1px solid rgba($dark, .1);
				// float: left;
				

			}
			&.nav-next {
				border-left: 1px solid rgba($dark, .1);
				// float: right;

			}
		} 

	}



	#body{

		.padding {
			padding: 3.3rem 1rem;
		}

		#top-bar {
			text-align: center;
		    border-radius: 0px !important;
		    
		    #top-bar-buttons{
		    	display: none;
		    }
		}


	}



}

